{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "react/jsx-no-bind": [
      true,
      {
        "allowFunctions": true
      }
    ]
  },
  "extends": [
    "sanity",
    "sanity/typescript",
    "sanity/react",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:react/jsx-runtime"
  ]
}
